<div class="visitor-map" aria-label="Visitor statistics">
  <div class="visitor-map-widget">
    <script
      type="text/javascript"
      src="https://rf.revolvermaps.com/0/0/8.js?i=5lyh18ghio0&amp;m=0&amp;c=1f77b4&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;s=220"
      async="async"
    ></script>
  </div>
  <a class="visitor-map-fallback" href="https://www.revolvermaps.com/livestats/5lyh18ghio0/" rel="external nofollow noopener" target="_blank">
    Visitor statistics
  </a>
</div>
