<div class="visitor-stats" aria-label="Visitor location statistics">
  <a href="https://info.flagcounter.com/KJKb" rel="external nofollow noopener" target="_blank">
    <img
      src="https://s01.flagcounter.com/count2/KJKb/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
      alt="Flag Counter"
      loading="lazy"
    >
  </a>
</div>
