<div class="visitor-map">
  <script
    type="text/javascript"
    src="https://rf.revolvermaps.com/0/0/8.js?i=5lyh18ghio0&amp;m=0&amp;c=1f77b4&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;s=220"
    async="async"
  ></script>
  <noscript>
    <a href="https://www.revolvermaps.com/livestats/5lyh18ghio0/" rel="external nofollow noopener" target="_blank">Visitor map</a>
  </noscript>
</div>
