<div class="visitor-stats" aria-label="Visitor statistics">
  <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span>
    Site views
    <strong id="busuanzi_value_site_pv">--</strong>
  </span>
  <span>
    Visitors
    <strong id="busuanzi_value_site_uv">--</strong>
  </span>
  <span>
    Page views
    <strong id="busuanzi_value_page_pv">--</strong>
  </span>
</div>
